[submodule "roles/swapfile"]
	path = roles/swapfile
	url = git@github.com:nodje/ansible-swapfile.git
[submodule "roles/fqdn"]
	path = roles/fqdn
	url = git@github.com:nodje/ansible-fqdn.git
[submodule "roles/logwatch"]
	path = roles/logwatch
	url = git@github.com:nodje/ansible-logwatch.git
[submodule "roles/postfix"]
	path = roles/postfix
	url = git@github.com:nodje/ansible-postfix.git
